main {
    margin-top: 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
    min-height: 100vh;
    padding-bottom: 100px;
}

main input {
    width: 70%;
    height: 2rem;
    padding-left: 3rem;
    overflow-y: auto;
    margin-bottom: 3rem;
    border-radius: 5px;
}

main button {
    padding: 0;
    border: none;
    background-color: aliceblue;
}

.searchIcon {
    padding: 0;
    width: 25px;
    height: 25px;
    padding-bottom: 0.25rem;

}

main img {
    width: 480px;
    height: 270px;
    padding: 10px;
    padding-top: 10px;
}

main .giphy {
    margin: auto;
    width: 80%;
    padding-bottom: 1rem;
}

main h1 {
    margin: 0;
    padding: 1rem;
}