footer {
    height: 4rem;
    padding: 5px;
    background-color: rgb(27, 137, 240);
    color: white;
    font-weight: bolder;
    font-size: larger;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

footer a {
    color: black;
}
